<head>
    <link rel="stylesheet" href="./assets/css/academicons.min.css"/>
</head>
<div class="page-header" data-parallax="true" style="background-image: url('../../assets/img/landing.jpg')">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1 class="presentation-title">Drug Attrition Oracle</h1>
            <h3>Predicting whether drugs will be withdrawn from the market</h3>
            <br />
            <a [routerLink]="['/home']" class="btn btn-outline-neutral btn-round btn-lg">Try it out</a>
            <div>
                <h4>Funded by:</h4>
                <br>
                <br>
                <div class="ai4eu-logo">
                    <a href="https://www.ai4eu.eu/modrai-0"><img src="assets/img/logo_ai4eu_beta.svg" alt=""></a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">The model</h2>
                <h5 class="description">Drug attrition oracle predicts whether a drug will be withdrawn
                from the market based on structural information of the molecules</h5>
                <br>
                <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-check-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Generate predictions</h4>
                        <p class="description">Find out whether your developmental drug is a risky investment</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Statistics</h4>
                        <p>Compare the features of your drugs to current approved therapies and therapies that have
                        been withdrawn from the market</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-alert-circle-i"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Applicability domain</h4>
                        <p>Investigate how your molecule fits the chemical space of already approved therapeutic
                        molecules</p>
                        <a href="#pkp" class="btn btn-link btn-danger">See more</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">DAO Team</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../../assets/img/faces/smuc.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Tomislav Šmuc, PhD</h4>
                                <h6 class="card-category">Team Leader</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        PhD in electrical engineering, senior scientist with 20+ years of experience in the fields of
                            machine learning, biomedicine, computational biology, genomics and drug discovery.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://scholar.google.dk/citations?user=kuxxEikAAAAJ&hl=da"
                           class="btn btn-link btn-just-icon btn-neutral">
                            <i class="ai ai-google-scholar ai-5x ai-inverse"></i></a>
                    </div>
                </div>
            </div>

                        <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../../assets/img/faces/visnja.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Višnja Stepanić</h4>
                                <h6 class="card-category">Drug discovery</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            PhD in chemistry, 20+ years of experience in drug discovery, chemoinformatics, modelling
                            protein-ligand interactions. Experience in drug discovery industry.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://scholar.google.com/citations?user=bnJkSncAAAAJ"
                           class="btn btn-link btn-just-icon btn-neutral">
                            <i class="ai ai-google-scholar ai-5x ai-inverse"></i></a>
                    </div>
                </div>
            </div>

                        <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../../assets/img/faces/bono.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Bono Lučić, PhD</h4>
                                <h6 class="card-category">Molecular modeling</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        PhD in theoretical chemistry, senior scientist, 20+ years of experience in developing algorithms
                            and methodology for QSAR modeling and toxicity chemoinformatics.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://scholar.google.com/citations?user=z8TnZFUAAAAJ"
                           class="btn btn-link btn-just-icon btn-neutral">
                            <i class="ai ai-google-scholar ai-5x ai-inverse"></i></a>
                    </div>
                </div>
            </div>

                        <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../../assets/img/faces/ozren.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Ozren Jović, PhD</h4>
                                <h6 class="card-category">Molecular modeling</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        PhD in chemistry, 10+ years of experience in the fields of computational chemistry,
                            chemoinformatics, QSAR and modeling ligand protein interactions.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://scholar.google.dk/citations?user=7WQX2AMAAAAJ&hl=da&oi=sra"
                           class="btn btn-link btn-just-icon btn-neutral">
                            <i class="ai ai-google-scholar ai-5x ai-inverse"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../../assets/img/faces/lipic.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Tomislav Lipić, PhD</h4>
                                <h6 class="card-category">Machine learning</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid aut consequuntur
                            cum cumque cupiditate enim exercitationem ipsa, laboriosam laudantium.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://scholar.google.com/citations?user=wC25hbcAAAAJ"
                           class="btn btn-link btn-just-icon btn-neutral">
                            <i class="ai ai-google-scholar ai-5x ai-inverse"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../../assets/img/faces/dionizije.png" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Dionizije Fa</h4>
                                <h6 class="card-category">Machine learning</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        MSc in chemical engineering and technology. Working on machine and representation learning in
                            pharmacogenomics
                        </p>
                        <br>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://github.com/dionizijefa" class="btn btn-link btn-just-icon btn-neutral">
                            <i class="fa fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Let us know if you have any questions</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Your message"></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
