<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/home']" rel="tooltip" title="Home page">Drug attrition oracle</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Check the code on GitHub" data-placement="bottom"
                       href="https://github.com/dionizijefa/Drug-Attrition-Oracle" target="_blank">
                        <i class="fa fa-github"></i>
                        <p class="d-lg-none">GitHub</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a href="https://github.com/dionizijefa/Drug-Attrition-Oracle" rel="tooltip" title="Read the documentation"
                       class="nav-link" target="_blank"><i class="nc-icon nc-book-bookmark"></i> Documentation</a>
                </li>
                <li class="nav-item" *ngIf="isHome()">
                    <a [routerLink]="['/landing']" target="_blank" rel="tooltip" title="Back to landing page"
                       class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="" target="_blank" class="btn btn-danger btn-round" rel="tooltip"
                       title="Find out about our commercial solutions">Commercial solutions</a>
                </li>
                <li class="nav-item" *ngIf="isDocumentation()">
                    <a href="" target="_blank" class="nav-link">Have an issue</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
