<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../../assets/img/landing.jpeg');">
        <div class="filter"></div>
    </div>
</div>

<div class="container" *ngIf=!generatedPrediction>
    <div class="row">
          <div class="col-md-4">
              <h3 class="title mx-auto">Predict approved or withdrawn status of your drugs</h3>
          </div>
          <div class="col-md-4">
              <form #f="ngForm" class="register-form" (ngSubmit) = "onSubmit(f)">
                    <div class="input-group bg-danger">
                      <input type="text" class="form-control" name="smilesInput" ngModel required
                             #first="ngModel" placeholder="SMILES">
                    </div>
                <button class="btn btn-danger btn-block btn-round">Predict</button>
              </form>
            </div>
        </div>
    <div class="row">
        <p>Try example molecules</p>
        <div class="row">
        <div class="col-md-4">
            <a> <img src="assets/img/ivermectin.png" width="200" height="100"
            (click)="predict({'smilesInput': 'CCC(C)C1C(CCC2(O1)CC3CC(O2)CC=C(C(C(C=CC=C4COC5C4(C(C=C(C5O)C)C(=O)O3)O)C)OC6CC(C(C(O6)C)OC7CC(C(C(O7)C)O)OC)OC)C)C'})">
            </a>
        </div>
        <div class="col-md-4">
            <a> <img src="assets/img/molnupiravir.png" width="200" height="100"
            (click)="predict({'smilesInput': 'CC(C)C(=O)OC[C@H]1O[C@H]([C@H](O)[C@@H]1O)N2C=C\\C(=N\\O)\\NC2=O'})">
            </a>
        </div>
        <div class="col-md-4">
            <a> <img src="assets/img/thalidomide.png" width="200" height="100"
            (click)="predict({'smilesInput': 'O=C3CCC(N2C(=O)c1ccccc1C2=O)C(=O)N3'})">
            </a>
        </div>
            </div>
    </div>
</div>

<div class="container" *ngIf=generatedPrediction>
    <div class="col-lg-12">
            <h3>Drug Attrition Oracle - Prediction and explanation</h3>
            <p>Probability of molecule being withdrawn class {{prediction['predictedProbability']}}%</p>
            <p><ngb-progressbar [showValue]="true" type="danger" [value]="prediction['predictedProbability']" [max]="100"></ngb-progressbar></p>
            <p>P value withdrawn {{prediction['withdrawnP']}}</p>
<!--            <ngx-slider [(value)]="prediction['withdrawnP']" [options]="approvedSlider"></ngx-slider>-->
            <p>P value approved {{prediction['approvedP']}}</p>
            <p>Predicted class {{prediction['predictedClass']}}</p>
    </div>
</div>
